:root{
    --lightest-violet: #C1C1D2;
    --ex-light-violet: #8080A4;
    --light-violet: #A6A6BF;
    --medium-violet: #333346;
    --hard-violet: #1A1A24;
    --ex-hard-violet: #0E0E12;
}

::selection{
    background-color: var(--hard-violet);
    color: var(--lightest-violet);
}


body {
    background-color: #b2b2d1;
    background-image: url('/images/background.svg');
    background-size: cover;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    pointer-events: none;
    background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0, 0, 0, .05) 4px), linear-gradient(transparent, transparent 3px, rgba(0, 0, 0, .05) 4px);
    background-size: 4px 4px;
}

.active {
    background-color: var(--medium-violet); 
    color: var(--light-violet);
}

.active > li > div {
    background-color: var(--light-violet);
    color: var(--medium-violet);
}

.active > div {
    border-color: var(--medium-violet);
}

.link-disable{
    pointer-events: none;
    opacity: 0.5;
}

.para-text {
    line-height: 2;
}
.new {
  animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}
